main {
    width: 90%;
    margin: 40px auto;
}
#subtitle {
    color: rgb(205, 164, 140);
    opacity: 0.8;
    font-size: calc(25px + 3vw);
    margin-bottom: 0;
    margin-top: 10px;
}
#title {
    font-size: calc(25px + 4vw);
    margin: 0;
}
#leaderboad-noresults {
    margin-top: 40px;
    font-weight: bold;
}
.lead-resb {
    background-color: rgb(255, 214, 182);
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.lead-title {
    font-size: calc(25px + 3vw);
    margin: 0;
    font-weight: bold;
}
.lead-subtitle {
    font-size: 16px;
    margin: 0;
}