main {
    width: 90%;
    margin: 0 auto;
    max-width: 700px;
    padding-top: 40px;
}

#field {
    height: calc(100vh - 145px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* TOP SECTION */
#field-top {
    width: 100%;
    height: 33%;
    max-height: 33%;
    min-height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}
.opponent-cards {
    width: 24%;
    height: 100%;
    max-height: 141px;
    max-width: 100px;
    align-self: flex-start;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}

/* CENTRAL SECTION */
#centercont {
    width: 100%;
    height: 33%;
    max-height: 33%;
    min-height: 33%;
}
#field-center {
    width: 100%;
    height: 141px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-bottom: 10px;
}
#field-center-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: calc(100% - 100px);
}
#deck {
    max-width: 100px;
    height: 141px;
    margin-right: 10px;
    align-content: center;
}
#deck img {
    width: 100%;
    height: 100%;
}
#table, #draw {
    height: 141px; /* Set a specific height to ensure consistency */
    width: 100%;
    max-width: 100px;
    max-height: 141px;
    border-radius: 10px;
    background-color: white;
}
#table {
    margin-right: 10px;
}
.card-white {
    font-size: max(70px, 5vw);
    font-weight: bold;
    text-align: center;
    background-color: white;
}

/* BOTTOM SECTION */
#field-bottom-container {
    width: 100%;
    height: 33%;
    max-height: 33%;
    min-height: 33%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#field-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}

.player-cards {
    width: 24%;
    height: 100%;
    max-height: 141px;
    max-width: 100px;
    align-self: flex-end;
    border-radius: 10px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.card-back {
    background: url('../assets/images/card-back.png') no-repeat center center;
    background-size: cover;
}
  
.card-front {
    background-color: white;
    transform: rotateY(180deg);
    font-size: max(70px, 5vw);
    font-weight: bold;
    text-align: center;
}
.flipped {
    transform: rotateY(180deg);
}

#btncontainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#mainbtn {
    width: 100%;
    max-width: 200px;
}
#cactusbtn {
    margin-top: 10px;
    display: none;
    width: 100%;
    max-width: 200px;
    margin-left: 10px;
}
#player-hand-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
}
#player-hand-title p {
    margin: 0;
}